body {
  background: #18243c;
  color: #e1e8ef;
  font-family: "Montserrat", "Avenir", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%;
}

h1 {
  color: #e1e8ef;
  text-shadow: 0 3px 3px rgba(255, 255, 255, 0.3);
}

button {
  background-color: #2d6cea;
  color: #e1e8ef;
  font-weight: bold;
  display: flex;
  margin: 0.5rem;
  border: none;
  border-radius: 1rem;
  padding: 0.6rem 1.5rem;
  width: max-content;
  transition: all 0.3s linear;
  outline: none;
  cursor: pointer;
  /*Adiciona um efeito de glow: */
  box-shadow: 0 0 5px 3px rgba(45, 108, 234, 0.3);
}

button:hover {
  background-color: #0843b8;
}

a {
  font-family: "JetBrains Mono";
  font-size: 17px;
  min-height: 100%;
  height: 100%;
  font-weight: bold;
  color: #2c6be7;
}

.centralizar {
  /*Centralizar -- e | -> 
  align="center" na div +:
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/

  /*Centralizar horizontalmente,
  mas na mesma linha -> flexbox:;
  display: flex;
  align-items: center;
  justify-content: center;*/

  /*Centralizar horizontalmente, mas 
  NÃO na mesma linha -> grid layout:*/
  display: grid;
  place-items: center;

  /*Centralizar verticalmente: 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
}
